/* Style inputs with type="text", type="email"and textareas */
input[type=text], input[type=email], textarea {
  width: 70%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-right: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-sizing: border-box; /* Make sure that padding and width stays in place */
 
  margin-bottom: 16px; /* Bottom margin */
  resize: horizontally; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
button[type=submit] {
  width: 30%; /* Full width */
  background-color: #ffd803;
  color: white;
  padding: 12px 20px;
  float:right;
  border: 1px solid #ccc; /* Gray border */
  border-left: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  resize: horizontally; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* When moving the mouse over the submit button, add a darker green color */
button[type=submit]:hover {
  background-color: #ffd803;
}